.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fafafa;
  transition: all ease-out 0.2s;
  overflow: hidden;

  .sidebarHeader {
    width: 100%;
    height: 46px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .notLoginTip {
    padding: 16px;
    color: #494845;
    font-size: 14px;
  }
}

.hideSidebar {
  width: 0;
  transform: translateX(-250px);
}
