.messageContainer {
  .container {
    width: 100%;
    max-width: 800px;
    min-width: 200px;
    padding: 10px;
  }

  .messageItem {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
  }

  .local {
    justify-content: flex-end;
  }
  .remote {
    justify-content: flex-start;
  }
  .sparklesIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #f2f4f8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .localContent,
  .remoteContent {
    font-size: 14px;
    max-width: 70%;
    border-radius: 5px;
    padding: 6px 8px;
    word-wrap: break-word;
    /* 防止纯英文文本改变父容器宽度 */
    word-break: break-all;
    opacity: 0;
  }
  .localContent {
    transform: translateX(70%) scale(0.1);
    background-color: var(--main-bgc);
    color: #fff;
    animation: fadeIn 0.2s ease-in forwards;
  }
  .remoteContent {
    transform: translateX(-70%) scale(0.1);
    background-color: #fafafa;
    border: 1px solid #eee;

    animation: fadeIn 0.2s ease-in forwards;
  }
}

.messageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden auto;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
