.chatContent {
  flex: 1;
  overflow: hidden auto;
  display: flex;
  justify-content: center;

  .container {
    width: 70%;
    max-width: 800px;
    min-width: 200px;
    padding: 10px;
  }

  .messageItem {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    animation: fadeIn 0.3s ease;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .local {
    justify-content: flex-end;
  }
  .remote {
    justify-content: flex-start;
  }
  .sparklesIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #f2f4f8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .localContent,
  .remoteContent {
    max-width: 70%;
    border-radius: 5px;
    padding: 6px 8px;
    word-wrap: break-word;
  }
  .localContent {
    background-color: #2457dd;
    color: #fff;
  }
  .remoteContent {
    background-color: #fafafa;
  }
}
