.input {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  padding: 8px;

  .container {
    width: 100%;
    max-width: 800px;
    min-width: 200px;

    display: flex;
    justify-content: center;
    position: relative;
  }

  .messageTa {
    width: 100%;
    resize: none;
    font-size: 16px;

    background-color: #fafafa;
    border: 1px solid #e4e4e7;
    border-radius: 8px;

    padding: 8px;
    transition: all ease-in 0.3s;
    outline: none;
    &:focus {
      border-color: #09090b;
    }
  }

  .action {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    gap: 8px;
    & > div {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    & > div:first-child {
      background-color: #fff;
      border: 1px solid #ccc;
      transform: rotate(-45deg);
    }
    & > div:last-child {
      background-color: #2457dd;
      cursor: pointer;
      &:hover {
        background-color: #3967e0;
      }
    }
  }
}
