.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 0;
  transition: all linear 0.2s;
}

@media (max-width: 767px) {
  .container.showSide {
    filter: blur(10px);
  }
}

@media (min-width: 768px) {
  .container.showSide {
    width: calc(100vw - 300px);
  }
}
