.modelSelector {
  display: flex;
  gap: 8px;
  height: 34px;
  padding: 0 10px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all linear 0.2s;
  position: relative;

  &:hover {
    cursor: pointer;
    background-color: #fafafa;
  }

  .modelName {
    font-size: 14px;
  }

  .arrowIcon {
    width: 16px;
    height: 16px;
    transition: all linear 0.2s;
  }

  &:hover {
    .arrowIcon {
      transform: rotate(180deg);
    }

    .dropdown {
      opacity: 1;
      z-index: 999;
      transform: translateY(0px);
    }
  }

  .dropdown {
    position: absolute;
    width: 330px;
    padding: 4px;
    top: 33px;
    left: 0;
    border: 1px solid #fafafa;
    border-radius: 6px;
    box-shadow:
      rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all linear 0.2s;
    background-color: #fff;

    opacity: 0;
    z-index: -1;
    transform: translateY(10px);

    .modelOption {
      height: 60px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      transition: all linear 0.2s;
      &:hover {
        background-color: #fafafa;
      }
      & > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        & > div:last-child {
          font-size: 13px;
          color: #494845;
        }
      }
    }
  }
}
